.calculator {
  display: grid;
  grid-template-columns: repeat(4, 50px);
  gap: 1px;
  width: 200px;
  margin: auto;
  margin-right: auto;
}

@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}

.title {
  text-align: center;
}

.title h2 {
  font-size: 1em;
  margin-top: -250px;
  width: 0;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 5s steps(40, end) forwards; /* s es la duración de la animación, y 40 es el número de "pasos" o caracteres en la animación. */
}

.result {
  grid-column: span 4;
  background: #808080;
  color: #fff;
  padding: 20px;
  font-size: 24px;
  text-align: right;
  height: 20px;
}

button {
  padding: 10px;
  font-size: 24px;
  border: none;
  outline: none;
}

button[data-type="number"] {
  background: #ebe5e0;
  color: #000;
}

button[data-type="operation"] {
  background: #f5923e;
  color: #fff;
}

button[data-type="function"] {
  background: #ebe5e0;
  color: #000;
}

button[data-value="0"] {
  grid-column: span 2;
}
