.quote-container {
  text-align: left;
  max-width: 800px;
  margin: 0 auto 2em;
  font-family: 'Helvetica Neue', sans-serif;
  color: #333;
}

.quote-text {
  font-size: 1em;
  line-height: 1.4;
  opacity: 0;
  transition: opacity 3s ease-in-out;
  animation: fadeIn 2s 1 forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.quote-author {
  font-size: 1em;
  font-weight: bold;
}
